.peculiarities__box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.peculiarities__icon {
  display: block;
}
.about {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}
.peculiarities__list {
  width: 270px;
  &:not(last-child) {
    margin-right: 30px;
  }
}
